*{
    box-sizing: border-box;
}
/*
.col{
    float: left;
    width: 30vw;
}


.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}
*/

.card{
    
    background-color:  #353535;
    border: 2px solid white;
    margin: 1vw;

    align-content: justify;
}

img{
    width:27vw;
    margin-bottom: 10px;
}

#doodImg{
    width: 10.5vw;
    margin-right: 10vw;
    margin-left: 9vw;
}

.cardLink{
    margin: 4vw;
}

#homeButton{
    border: 2px solid white;
}

#homeButton:hover{
    border: 2px solid black;
}

a{  
    /* font-size: 7vw;
    height: 1vh; */
} 